@media (min-width: 1301px) {
  main {
    width: 1300px;
  }
  .banner-slider::before {
    width: 1300px;
  }
}
@media (min-width: 1008px) and (max-width: 1300px) {
  main {
    width: 1000px;
  }
  .home-banner .content {
    width: 51%;
    margin-left: 0;
  }
  .home-banner .image {
    width: 42%;
  }
  .announcements .content {
    width: 55%;
  }
  .announcements .image {
    margin: auto;
  }
  .latest .content {
    width: 100%;
  }
  .latest .image {
    width: 30%;
  }
  .music-page::before,
  .sports-page::before,
  .talents-page::before {
    width: 1000px;
  }
  footer .main-footer .img img {
    height: auto;
  }
  .discover-tabs > .banners::before {
    width: 250px;
  }
}
@media (min-width: 641px) and (max-width: 1007px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  body {
    overflow-x: hidden;
  }
  main {
    width: 641px;
  }
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 15px !important;
  }
  p,
  li,
  button,
  footer .main-footer .content {
    font-size: 12px !important;
  }
  header .nav ul li {
    margin-left: 13px;
  }
  .hamburger {
    width: 15px;
    padding: 18% 14%;
  }
  .hamburger span {
    width: 13px !important;
  }
  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    margin-top: 3px;
  }
  .home-banner,
  .announcements {
    flex-direction: column;
  }
  .home-banner .image {
    width: 70%;
  }
  .home-banner .image img {
    height: 245px;
  }
  .home-banner .content,
  .announcements .content,
  .announcements .image {
    width: 100%;
    margin-left: 0;
  }
  .home-banner .image {
    margin: auto;
  }
  .latest .content {
    width: 100%;
  }
  .latest .image {
    width: 30%;
  }
  .featured-talents .image img {
    height: 500px;
  }
  .featured-talents .slider {
    width: 75px;
    height: 550px;
    margin-top: -24px;
  }
  .featured-talents .slider > p > i {
    font-size: 20px;
  }
  .music-page,
  .music-page::before,
  .sports-page,
  .sports-page::before,
  .talents-page,
  .talents-page::before {
    width: 641px;
    height: 450px;
  }
  .banner-slider::before {
    height: 440px !important;
  }
  .mySlides img {
    width: 100%;
    height: 440px;
  }
  .banner-slider .arrows {
    width: 105%;
    left: -16px;
    height: 30px;
    top: 44%;
  }
  .banner-slider:hover .leftArrow,
  .banner-slider:hover .rightArrow {
    width: 20px !important;
    height: 20px !important;
    padding: 6px !important;
  }
  .banner-slider .leftArrow i,
  .banner-slider .rightArrow i {
    font-size: 17px !important;
  }
  .search input[type="text"],
  .search form button {
    font-size: 15px;
  }
  .trends h3 {
    font-size: 15px !important;
    margin-left: 10px;
    text-align: center;
  }
  .trends .artist-gallery .artist img {
    height: 170px;
  }
  .news .img {
    background-size: cover;
    background-position: center;
  }
  .news-layouts .news .heading {
    width: 48%;
    margin-top: -40px;
    padding: 2% 55px;
  }
  .news-layouts .news .heading h2 {
    font-size: 10px !important;
  }
  .discussedNews .news .image {
    width: 57%;
    height: 60px;
    margin: auto;
  }
  .news .content {
    margin: 0;
  }
  .discussedNews .news .content h4 {
    font-size: 8px !important;
  }
  .news-slides .content h4,
  .news-slides .content p {
    font-size: 10px !important;
  }
  .about-us .content h2 {
    font-size: 12px !important;
  }
  .about-us .img img {
    height: 200px !important;
  }
  footer .main-footer .img img {
    height: auto;
  }
  footer .main-footer .content i {
    font-size: 3px !important;
  }
  .discover-tabs > .banners::before {
    width: 161px;
  }
  .discover-tabs > .banners {
    height: 230px;
  }
  .trends .artist-gallery .artist {
    width: 20%;
  }
  .artist-socials > span {
    font-size: 12px;
  }
  .partners-banner p {
    font-size: 40px !important;
  }
  .partners > .content > h2 {
    font-size: 15px !important;
    margin-bottom: -10px;
  }
  .partners > .content > span {
    font-size: 15px !important;
  }
  .flag{
    width: 15px !important;
    height: 12px !important;
  }
}
@media (min-width: 350px) and (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 3px;
  }
  body {
    overflow-x: hidden;
  }
  main {
    width: 350px;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 15px !important;
  }
  h3 {
    font-size: 10px !important;
  }
  h4 {
    font-size: 8px !important;
  }
  p,
  li,
  button,
  footer .main-footer .content {
    font-size: 6px !important;
  }
  header .nav ul li {
    margin-left: 13px;
  }
  .hamburger {
    width: 19px;
    padding: 18% 14%;
  }
  .hamburger span {
    width: 13px !important;
  }
  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    margin-top: 2px;
  }
  .home-banner,
  .announcements {
    width: 100%;
    flex-direction: column;
  }
  .home-banner .content,
  .announcements .content {
    width: 100%;
    margin-left: 0;
  }
  .announcements .image {
    width: 100%;
  }
  .home-banner .image {
    width: 60%;
    margin: auto;
  }
  .home-banner .image img {
    height: 100px !important;
  }
  .latest .content {
    width: 100%;
  }
  .latest .image {
    width: 26%;
  }
  .featured-talents .image img {
    height: 200px;
  }
  .featured-talents .slider {
    width: 50px;
    height: 240px;
    margin-top: -20px;
  }
  .featured-talents .slider > p > i {
    font-size: 15px;
  }
  .music-page,
  .music-page::before,
  .sports-page,
  .sports-page::before,
  .talents-page,
  .talents-page::before {
    width: 350px;
    height: 250px;
  }
  .banner-slider::before {
    height: 243px !important;
  }
  .mySlides img {
    width: 100%;
    height: 243px;
  }
  .banner-slider .arrows {
    width: 109%;
    left: -16px;
    height: 30px;
    top: 44%;
  }
  .banner-slider:hover .leftArrow,
  .banner-slider:hover .rightArrow {
    width: 20px !important;
    height: 20px !important;
    padding: 6px !important;
  }
  .banner-slider .leftArrow i,
  .banner-slider .rightArrow i {
    font-size: 17px !important;
  }
  .search input[type="text"],
  .search form button {
    font-size: 8px;
  }
  .trends h3 {
    font-size: 8px !important;
    margin-left: 10px;
    text-align: center;
  }
  .trends .artist-gallery .artist img {
    height: 70px;
  }
  .news .img {
    background-size: cover;
    background-position: center;
  }
  .news-layouts .news .heading {
    width: 48%;
    margin-top: -40px;
    padding: 2% 55px;
  }
  .news-layouts .news .heading h2 {
    font-size: 8px !important;
  }
  .discussedNews .news .image {
    width: 57%;
    height: 60px;
    margin: auto;
  }
  .news .content {
    margin: 0;
  }
  .discussedNews .news .content h4 {
    font-size: 5px !important;
  }
  .news-slides .content h4,
  .news-slides .content p {
    font-size: 5px !important;
  }
  .about-us .content h2 {
    font-size: 9px !important;
  }
  .about-us .img img {
    height: 125px !important;
  }
  footer .upper-footer {
    padding: 30px 0;
  }
  footer .upper-footer form button {
    width: 30px;
    height: 30px;
  }
  footer .main-footer {
    height: 77px;
  }
  footer .main-footer .img img {
    height: auto;
  }
  footer .main-footer .content i {
    font-size: 3px !important;
  }
  .trends .artist-gallery .artist {
    width: 20%;
  }
  .artist-socials > span {
    font-size: 10px;
  }
  .discover-tabs > .banners {
    height: 110px;
  }
  .discover-tabs > .banners::before {
    width: 89px;
  }
  .partners-banner p {
    font-size: 30px !important;
  }
  .partners > .content > h2 {
    font-size: 8px !important;
    margin-bottom: -10px;
  }
  .partners > .content > span {
    font-size: 8px !important;
  }
  .flag{
    width: 10px !important;
    height: 8px !important;
  }
}
