@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --red: #e92f2e;
  --black: #1e1e1e;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
}
h1 {
  font-family: "Bakbak One", cursive;
}
h2,
h3,
h4,
h5 {
  font-weight: 400 !important;
}
a {
  color: var(--black);
}
main {
  width: 1200px;
  margin: auto;
}
header {
  width: 100%;
  display: flex;
  background-color: white;
  animation: 0.2s linear fadeIn;
  z-index: 20;
}
.hamburger {
  width: 48px;
  padding: 21% 11px;
  border-radius: 25px;
  border: 1px solid var(--black);
  float: right;
  text-align: center;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  border: 1px solid var(--black);
  display: block;
}
.hamburger span:nth-child(2) {
  width: 25px;
  margin-top: 5px;
  border: 1px solid var(--black);
  display: block;
}
.hamburger span:nth-child(3) {
  width: 25px;
  margin-top: 5px;
  border: 1px solid var(--black);
  display: block;
}
header .logo {
  width: 9%;
  padding: 1%;
}
header .logo img {
  width: 100%;
}
header .nav {
  width: 84%;
  padding: 1%;
  margin: auto;
}
header .nav ul {
  display: flex;
  float: right;
  animation: 0.2s linear fadeIn;
}
header .nav ul li {
  margin-left: 20px;
  cursor: pointer;
}
header .nav ul li:hover {
  font-weight: bold;
}
header .hamburger-option {
  width: 5%;
  padding: 1%;
  margin: auto;
}
.display-none {
  display: none !important;
  animation: 0.5s linear fadeOut;
}
.sticky {
  position: fixed;
}
.display-flex {
  display: flex;
}
.banner {
  width: 100%;
}
.home-banner,
.announcements,
.latest,
.music,
.sports,
.featured-talents,
footer {
  animation: 1s linear fadeFromBottom;
}
.home-banner .content {
  width: 58%;
  padding: 2%;
  margin: auto;
  margin-left: 100px;
}
.home-banner .image {
  width: 38%;
  padding: 2%;
  margin-left: -10px;
}
.home-banner .image {
  flex-wrap: wrap;
}
.home-banner .image img:nth-child(1) {
  width: 70%;
  height: 271px;
}
.home-banner .image img:nth-child(2) {
  width: 30%;
  height: 271px;
}
.home-banner .image img:nth-child(3) {
  width: 100%;
  height: 271px;
}
.font-40 {
  font-size: 40px;
}
.font-80 {
  font-size: 100px;
}
.font-100 {
  font-size: 100px;
}
.mtop-10 {
  margin-top: 10px !important;
}
.mtop-20 {
  margin-top: 20px !important;
}
.mtop-30 {
  margin-top: 30px !important;
}
.mtop-40 {
  margin-top: 40px !important;
}
.mtop-50 {
  margin-top: 50px !important;
}
.mbot-10 {
  margin-bottom: 10px !important;
}
.mbot-20 {
  margin-bottom: 20px !important;
}
.mbot-50 {
  margin-bottom: 50px !important;
}
.mleft-15 {
  padding-left: 15px;
}
.pleft-50 {
  padding-left: 50px;
}
.bold {
  font-weight: bolder;
}
.hr {
  width: 100%;
  margin: 20px auto;
  border-color: var(--black);
}
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.announcements .content {
  width: 38%;
  padding: 2%;
  margin: auto;
}
.announcements .image {
  width: 68%;
  padding: 2%;
}
.announcements .image img {
  width: 100%;
}
.announcements hr {
  width: 20%;
  border-color: var(--black);
  margin: 10px 0;
}
.latest {
  width: 97%;
  margin: auto;
}
.latest .content {
  width: 80%;
}
.latest .content img {
  width: 100%;
  height: 100%;
}
.latest .image {
  width: 20%;
  flex-wrap: wrap;
}
.latest .image img:nth-child(1) {
  width: 100%;
}
.latest .image img:nth-child(2) {
  width: 50%;
}
.latest .image img:nth-child(3) {
  width: 50%;
}
.music .image {
  width: 100%;
}
.music .image img {
  padding: 1%;
  width: 31.2%;
  height: 100%;
}
.sports {
  width: 98%;
  margin: auto;
}
.sports .image {
  width: 50%;
}
.sports .image img {
  width: 100%;
}
.sports .image:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.featured-talents .image {
  width: 98%;
  margin: auto;
}
.featured-talents .image img {
  width: 100%;
  height: 750px;
  z-index: 1;
}
.featured-talents .slider {
  width: 150px;
  height: 825px;
  right: 2%;
  margin-top: -40px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  display: none;
  animation: 0.2s linear fadeIn;
}
.featured-talents:hover .slider {
  display: block;
}
.featured-talents .slider > p {
  position: absolute;
  top: 47%;
  right: 40%;
}
.featured-talents .slider > p > i {
  font-size: 50px;
  color: white;
  transform: rotate(90deg);
  cursor: pointer;
}
.banner-slider {
  width: 100%;
  height: 550px;
}
.music-page {
  width: 100%;
  height: 550px;
  background-position: center;
}
.music-page img {
  width: 1200px;
  height: inherit;
  position: absolute;
  background-position: center;
  transition: opacity 1.5s;
}
.music-page::before {
  content: "";
  width: 1200px;
  height: 535px;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.music-page .arrows {
  width: 95%;
  height: 70px;
  position: absolute;
  top: 52%;
  left: 2.5%;
}
.banner-slider:hover .leftArrow,
.banner-slider:hover .rightArrow {
  display: block;
}
.leftArrow,
.rightArrow {
  display: none;
  animation: 0.2s linear fadeIn;
  cursor: pointer;
}
.music-page .leftArrow {
  float: left;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
}
.music-page .leftArrow i {
  transform: rotate(270deg);
  font-size: 30px;
}
.music-page .rightArrow {
  float: right;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
  display: none;
}
.music-page .rightArrow i {
  transform: rotate(90deg);
  font-size: 30px;
}
.music-page .content {
  width: auto;
  position: relative;
}
.search {
  width: 95%;
  margin: auto;
}
.search form {
  display: flex;
  margin: 10px 0;
}
.search input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  font-size: 18px;
}
.search input[type="text"]:focus {
  outline: none;
}
.search form button {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid;
  font-size: 18px;
}
.trends h3 {
  margin-left: 30px;
}
.trends .artist-gallery .artist {
  width: 30%;
  margin: 1%;
  padding: 1%;
}
.trends .artist-gallery .artist img {
  width: 100%;
  margin: 1%;
  padding: 1%;
  height: 400px;
}
.sports-page {
  width: 100%;
  height: 550px;
  background-position: center;
}
.sports-page::before {
  content: "";
  width: 1200px;
  height: 535px;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.sports-page .arrows {
  width: 95%;
  height: 70px;
  position: absolute;
  top: 52%;
  left: 2.5%;
}
.sports-page .leftArrow {
  float: left;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
}
.sports-page .leftArrow i {
  transform: rotate(270deg);
  font-size: 30px;
}
.sports-page .rightArrow {
  float: right;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
}
.sports-page .rightArrow i {
  transform: rotate(90deg);
  font-size: 30px;
}
.sports-page .content {
  width: auto;
  position: relative;
}
.talents-page {
  width: 100%;
  height: 550px;
  background-size: contain;
  background-position: center;
}
.talents-page::before {
  content: "";
  width: 1200px;
  height: 535px;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.talents-page .arrows {
  width: 95%;
  height: 70px;
  position: absolute;
  top: 52%;
  left: 2.5%;
}
.talents-page .leftArrow {
  float: left;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
}
.talents-page .leftArrow i {
  transform: rotate(270deg);
  font-size: 30px;
}
.talents-page .rightArrow {
  float: right;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-color: white;
}
.talents-page .rightArrow i {
  transform: rotate(90deg);
  font-size: 30px;
}
.talents-page .content {
  width: auto;
  position: relative;
}
.news {
  width: 100%;
  height: 100vh;
}
.news h1 {
  font-size: 60px;
  font-weight: 900px;
}
.news .content {
  width: 78%;
  padding: 2%;
  margin: auto;
}
.news .content button {
  padding: 0.7% 2%;
  background-color: var(--red);
  border: 1px solid var(--red);
  color: white;
  transition: 0.2s ease all;
}
.news .content button:hover {
  background-color: inherit;
  color: var(--red);
}
.news .img {
  width: 30%;
  height: 100%;
  background-image: url(../images/news-img-01.webp);
  background-position: center top;
}
.news-layouts .news {
  width: 68%;
  padding: 2%;
  height: 100%;
}
.news-layouts .news .heading {
  width: 60%;
  padding: 2% 100px;
  margin: auto;
  text-align: center;
  font-weight: 900;
  margin-top: -80px;
  background-color: white;
  z-index: 5;
  position: relative;
}
.news-layouts .news img {
  width: 100%;
  z-index: 2;
}
.news-layouts .sidebar {
  width: 28%;
  padding: 2%;
}
.news-slides .slides {
  width: 100%;
  margin: 20px 0;
}
.news-slides .slides .img {
  width: 40%;
  background-image: none;
}
.news-slides .slides .img img {
  width: 100%;
}
.news-slides .content {
  width: 60%;
}
.discussedNews {
  width: 100%;
  margin-top: 0;
}
.discussedNews .news {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.discussedNews .news .image {
  width: 35%;
  height: 150px;
  background-image: url(../images/news-img-04.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.discussedNews .news .image img {
  width: 100%;
}
.discussedNews .news .content {
  width: 63%;
  padding: 2%;
  margin: 0;
}
.about-us .content {
  width: 48%;
  padding: 2%;
  margin: auto;
}
.about-us .img {
  width: 50%;
  flex-wrap: wrap;
}
.about-us .img img:nth-child(1) {
  width: 20%;
  height: 250px;
}
.about-us .img img:nth-child(2) {
  width: 80%;
  height: 250px;
}
.about-us .img img:nth-child(3) {
  width: 100%;
  height: 250px;
}
.center {
  text-align: center;
}
.employee .content {
  width: 60%;
}
.employee .img {
  width: 40%;
  background-color: gray;
}
footer {
  position: relative;
}
footer .upper-footer {
  text-align: center;
  padding: 50px 0;
}
footer .upper-footer form input[type="text"] {
  width: 30%;
  border: none;
  border-bottom: 1px solid var(--black);
  text-align: center;
}
footer .upper-footer form input[type="text"]:focus {
  outline: none;
}
footer .upper-footer form button {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 0.5%;
  border-radius: 30px;
  border: 1px solid var(--black);
  background-color: inherit;
  transition: 0.2s ease all;
  cursor: pointer;
}
footer .upper-footer form button:hover {
  background-color: var(--black);
  color: white;
}
footer .main-footer {
  height: 150px;
  background-color: gray;
}
footer .main-footer .img {
  width: 20%;
  margin: auto;
  text-align: center;
}
footer .main-footer .img img {
  width: 60%;
  height: 80px;
}
footer .main-footer .content {
  width: 80%;
  margin: auto;
}
footer .main-footer .content {
  font-size: 14px;
}
footer .main-footer .content i {
  font-size: 7px;
  margin-top: -5px;
}
.fadeIn {
  opacity: 1;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.banner-slider .carousel ol::-webkit-scrollbar {
  width: 0;
}

.banner-slider .carousel ol::-webkit-scrollbar-track {
  background: transparent;
}

.banner-slider .carousel ol::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.banner-slider .carousel ol {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-slider .carousel {
  height: inherit;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
}

.banner-slider .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.banner-slider .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-image: inherit;
  counter-increment: item;
}

/* .banner-slider .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

.banner-slider .carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.banner-slider .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .banner-slider .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .banner-slider .carousel__slide:last-child .banner-slider .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .banner-slider .carousel__snapper {
    animation-name: none;
  }
}
.banner-slider .carousel img {
  width: 100%;
  height: 100%;
}

.banner-slider .carousel:hover .banner-slider .carousel__snapper,
.banner-slider .carousel:focus-within .banner-slider .carousel__snapper {
  animation-name: none;
}

.banner-slider .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  text-align: center;
}

.banner-slider .carousel__navigation-list,
.banner-slider .carousel__navigation-item {
  display: inline-block;
}

.banner-slider .carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.banner-slider .carousel::before,
.banner-slider .carousel::after,
.banner-slider .carousel__prev,
.banner-slider .carousel__next {
  position: absolute;
  top: 0;
  margin-top: 22.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.banner-slider .carousel::before,
.banner-slider .carousel__prev {
  left: -1rem;
}

.banner-slider .carousel::after,
.banner-slider .carousel__next {
  right: -1rem;
}

.banner-slider .carousel::before,
.banner-slider .carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.banner-slider .carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.banner-slider .carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
